<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./layout.css">
</head>
<body>

    <h2><center>CSS LAYOUT FLOAT</center></h2>
    <br>
    <p>In this example, we have created a header, two columns/boxes and a footer. On smaller screens, the columns will stack on top of each other.</p>

    <p>Resie the browser window to see the responsive effect.</p>

    <header>
        <h2>Cities</h2>
    </header>

    <section>
        <nav>
            <ul>
                <li><a href="#">London</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Tokyo</a></li>
            </ul>
            </nav>

            <article>
                <h1>London</h1>
                <p>London is the capital city of England. It is the most populous city in the united kingdom, with a metropolitan area of about 13million inhabitants.</p>


                <p>Standing on the River Thames, London has been a major settlement for two millenia, it's history going back to it's founding by the Romans, who named it Londinium, london is a good a country to visit.</p>
            </article>


            <article>
                    <h1>Paris</h1>

                    <p>Paris is the capital and most populous city of France1. It is situated in the north-central part of the country, along the Seine River, some 233 miles (375 km) upstream from the rivers mouth on the English Channel (La Manche)2. People were living on the site of the present-day city by about 7600 bce2.
                    </p>
            </article>


            <article>
                    <h1>Tokyo</h1>

                        <p>Tokyo, city and capital of Tokyo to (metropolis) and of Japan. It is located at the head of Tokyo Bay on the Pacific coast of central Honshu. It is the focus of the vast metropolitan area often called Greater Tokyo, the largest urban and industrial agglomeration in Japan.
                     </p>
            </article>


    </section>

    <footer>Footer</footer>
    
</body>
</html>